header{
    background-color: coral;
    color: rgb(224, 6, 6);
    padding: 12px;
    font-weight: bold;
}
li{
    display: inline;
    padding: 0px 12px;
}
body{
    background-image: url("/Web/css/fansamina.webp");
    background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}
.search{
    display: block;
    float: right;
    padding: 4px;
    clear: both;
}
.container{
    background-color: burlywood;
    display: flex;
    /* flex-direction: column;; */
    flex-wrap: wrap;
  align-content: center;
  text-align: center;
  height: 100vh;
}
.player1{
    display: inline;
    border: 2px solid black;
    width: 30%;
}
